.buttonBox {
    display: flex;
  }
  
  .Button {
    height: 80px;
    width: 80px;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
    margin-right: 10px;
    color: #7a7a7a;
    font-weight: 700;
    font-size: 15px;
    background-color: #7a7a7a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px;
  }
  
  .Button:hover,
  .Button:focus {
    font-weight: 700;
    scale: 1.05;
    box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
      10px 10px 15px rgba(70, 70, 70, 0.12),
      inset -10px -10px 15px rgba(255, 255, 255, 0.5),
      inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  }
  Button:focus {
    background-color: #15e38a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px;
  }